body, html, a, p, h1, h2, h3, h4, h5, h6, .roundButton {
    font-family: 'Nunito', sans-serif;
}
body, html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

.div-bg-blue {
    background-color: rgba(0, 0, 255, .5);
}
.div-bg-black {
    background-color: rgba(94, 88, 109, 0);
}
.div-bg-white {
    background-color: rgba(255, 255, 255, .6);
}

.div-bg-shade {
    background-color: rgba(0, 0, 0, .5);
}

.bg-500-home {
    background-image: url("https://1.bp.blogspot.com/-iUv0EY8DDP8/WzWNgJUC5yI/AAAAAAAAMCs/L9YgBqVaOcgEQkIKbSt6csKOo3X6Yyy6ACLcBGAs/s1600/pierre-chatel-innocenti-593585-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-800-home {
    background-image: url("https://1.bp.blogspot.com/-iUv0EY8DDP8/WzWNgJUC5yI/AAAAAAAAMCs/L9YgBqVaOcgEQkIKbSt6csKOo3X6Yyy6ACLcBGAs/s1600/pierre-chatel-innocenti-593585-unsplash.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-500-portfolio {
    background-image: url("https://4.bp.blogspot.com/-NzqSbAF-A0I/WzWNsbCxl1I/AAAAAAAAMCw/wME2TONhJQwKGboRSwpE-zRUz5rR564PwCLcBGAs/s1600/pierre-chatel-innocenti-620719-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-800-portfolio {
    background-image: url("https://4.bp.blogspot.com/-NzqSbAF-A0I/WzWNsbCxl1I/AAAAAAAAMCw/wME2TONhJQwKGboRSwpE-zRUz5rR564PwCLcBGAs/s1600/pierre-chatel-innocenti-620719-unsplash.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-500-resume {
    background-image: url("https://1.bp.blogspot.com/--kgK_Tg-YCM/WzWN4RelWlI/AAAAAAAAMC0/IpevWXzjkR0mhOI4kEWssw1VPWeetLvKACLcBGAs/s1600/pierre-chatel-innocenti-632607-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-800-resume {
    background-image: url("https://1.bp.blogspot.com/--kgK_Tg-YCM/WzWN4RelWlI/AAAAAAAAMC0/IpevWXzjkR0mhOI4kEWssw1VPWeetLvKACLcBGAs/s1600/pierre-chatel-innocenti-632607-unsplash.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-500-contact {
    background-image: url("https://1.bp.blogspot.com/-lIeDTx-S-XI/WzWOCKZCrUI/AAAAAAAAMC8/U7PcP-cTX54pJCc-KGD_GZqe2hjXgos5wCLcBGAs/s1600/pierre-chatel-innocenti-703813-unsplash.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-800-contact {
    background-image: url("https://1.bp.blogspot.com/-lIeDTx-S-XI/WzWOCKZCrUI/AAAAAAAAMC8/U7PcP-cTX54pJCc-KGD_GZqe2hjXgos5wCLcBGAs/s1600/pierre-chatel-innocenti-703813-unsplash.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.bg-project-rayos-designs {
    background-image: url("https://1.bp.blogspot.com/-I1O2IMEL9_w/Wy7vsW3R0iI/AAAAAAAAL7I/SY_JrPDW5gUrC0P47kd7-kEBQSn9adFLwCLcBGAs/s1600/photo-1501681506726-610246d81ade_home.jpeg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-500rayos-designs {
    background-image: url("https://1.bp.blogspot.com/-I1O2IMEL9_w/Wy7vsW3R0iI/AAAAAAAAL7I/SY_JrPDW5gUrC0P47kd7-kEBQSn9adFLwCLcBGAs/s1600/photo-1501681506726-610246d81ade_home.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-800-rayos-designs {
    background-image: url("https://1.bp.blogspot.com/-I1O2IMEL9_w/Wy7vsW3R0iI/AAAAAAAAL7I/SY_JrPDW5gUrC0P47kd7-kEBQSn9adFLwCLcBGAs/s1600/photo-1501681506726-610246d81ade_home.jpeg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-project-bomb-city-outfitters {
    background-image: url("https://3.bp.blogspot.com/-4q1-QpYy3Hg/WzWMDe7JG0I/AAAAAAAAMCA/FcCHGng20mAe4xtrH6vUvigfRQFuGFuqwCLcBGAs/s1600/photo-1506703719100-a0f3a48c0f86.jpeg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-project-samantha-rayos {
    background-image: url("https://1.bp.blogspot.com/-XXhmWDYrWtk/WzWMKawil2I/AAAAAAAAMCE/O_o4Q3wz56QGiMGH21OlBP0ZGxoA0jdZgCLcBGAs/s1600/photo-1498930133386-33ee20e8e71b.jpeg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-project-ceph {
    background-image: url("https://2.bp.blogspot.com/-ipcc63kxYNI/WzWMuNVzZuI/AAAAAAAAMCQ/wWR8gb1KO9sMf7O-9PGbh-Zs1peMeh7dwCLcBGAs/s1600/1498745353_c84e.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-project-senior-project {
    background-image: url("https://3.bp.blogspot.com/-oQLNZnKa4h0/WzWM4nY5bmI/AAAAAAAAMCU/5RJ2MqwJQPY-Jr5BWeXx2E7nkNm3LEwTACLcBGAs/s1600/NMSU.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-project-future-projects {
    background-image: url("https://4.bp.blogspot.com/-a7jz0PSbFFI/WzWNKz4BQdI/AAAAAAAAMCg/u2givL9lodo3f2-udCVJqSKNNeySlcCXwCLcBGAs/s1600/photo-1499673610122-01c7122c5dcb.jpeg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-500-future-projects {
    background-image: url("https://4.bp.blogspot.com/-a7jz0PSbFFI/WzWNKz4BQdI/AAAAAAAAMCg/u2givL9lodo3f2-udCVJqSKNNeySlcCXwCLcBGAs/s1600/photo-1499673610122-01c7122c5dcb.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-800-future-projects {
    background-image: url("https://4.bp.blogspot.com/-a7jz0PSbFFI/WzWNKz4BQdI/AAAAAAAAMCg/u2givL9lodo3f2-udCVJqSKNNeySlcCXwCLcBGAs/s1600/photo-1499673610122-01c7122c5dcb.jpeg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.roundButton {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    color: black;
    font-weight: bold;
}

/*
Code used for navigation bar
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 16px;
    text-decoration: none;
    font-size: 16px;
}

li a:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0);
    color:#4CAF50;
}

/*
End of navigation bar code
*/

.gr-top,
.gr-bottom {
    position: absolute;
    z-index: 1;
    width:100%;
}
.gr-top {
    top: 0;
}

.navBarWidth {
    max-width: 1650px;
    margin: auto !important
}

.w3-animate-pulse {
    margin:15px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: w3-animate-pulse 2s infinite;
}
.w3-animate-pulse:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
  @-webkit-keyframes w3-animate-pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes w3-animate-pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

.gr-gray {
    background-color: #d7d7d7;
}

.gr-blue {
    background-color: #2196F3;
}

.gr-green {
    background-color: #4CAF50;
}

.w3-charcoal-black,.w3-hover-charcoal-black:hover{
    color:#fff!important;
    background-color:#232323!important
}

.w3-text-charcoal-black,.w3-hover-text-charcoal-black:hover{
    color:#232323!important
}

.roundCorner10 {
    border-radius: 0px;
}

.roundCorner20 {
    border-radius: 0px;
}

.w3-padding-medium {
    padding: 0px 16px;
}
.w3-padding-large {
    padding: 16px 16px;
}

.w3-padding-column {
    padding: 8px 8px;
}

.main-margin-bottom {
    margin-bottom: 100px;
}

.google-maps { 
    position: relative; 
    padding-bottom: 70%; /* This is the aspect*/
    height: 0; 
    overflow: hidden; 
    } 
    .google-maps iframe { 
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100% !important; 
    height: 100% !important; 
    }

.border-white {
    border: 8px solid white;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #3CC47C;
  }
   
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    color: white;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #fff;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    padding-right: 0px;
    padding-left:8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }